.zwf-opacity-0 {
  background-color: rgb(99, 102, 241, 0);
}

.zwf-opacity-5 {
  background-color: rgb(99, 102, 241, 0.05);
}

.zwf-opacity-15 {
  background-color: rgb(99, 102, 241, 0.15);
}

.zwf-opacity-30 {
  background-color: rgb(99, 102, 241, 0.3);
}

.zwf-opacity-50 {
  background-color: rgb(99, 102, 241, 0.5);
}

.zwf-opacity-75 {
  background-color: rgb(99, 102, 241, 0.75);
}

.zwf-opacity-100 {
  background-color: rgb(99, 102, 241, 1);
}

.navbar-height {
  height: 56px;
}

.navbar-logo-height {
  height: 42px;
}

.navbar-tabs-height {
  height: 42px;
}

.hover-underline:hover::after {
  width: 100%; /* 下划线宽度增加到100% */
}

@media (max-width: 1536px) {
  .navbar-height {
    height: 56px;
  }

  .navbar-logo-height {
    height: 42px;
  }

  .navbar-tabs-height {
    height: 42px;
  }
}

@media (max-width: 1280px) {
  .navbar-height {
    height: 48px;
  }

  .navbar-logo-height {
    height: 40px;
  }

  .navbar-tabs-height {
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .navbar-height {
    height: 48px;
  }

  .navbar-logo-height {
    height: 40px;
  }

  .navbar-tabs-height {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .navbar-height {
    height: 40px;
  }

  .navbar-logo-height {
    height: 32px;
  }

  .navbar-tabs-height {
    height: 32px;
  }
}

@media (max-width: 640px) {
  .navbar-height {
    height: 40px;
  }

  .navbar-logo-height {
    height: 32px;
  }

  .navbar-tabs-height {
    height: 32px;
  }
}
